html {
    font-family: 'Open Sans', sans-serif;
    background: #1c712f;
    color: #ffffff;

    --animation-speed: 1s;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_starting,
.container_ending {
    margin-top: 94px;
}

.main-logo {
    margin-bottom: 20px;
}

.main-title {
    margin-bottom: 34px;

    text-transform: uppercase;
    text-align: center;
    line-height: 38px;
    font-size: 28px;
    letter-spacing: 0.2px;
    word-spacing: 0.4px;
}

.start-button,
.restart-button {
    font-weight: 700;
    line-height: 22px;
    font-size: 16px;
}

.button_light,
.button_dark {
    border: none;
    padding: 0;

    border-radius: 4px;
    outline: none;
    cursor: pointer;

    transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;
}

.button_light {
    color: #1c712f;
    background: #ffffff;
}

.button_light:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

    color: #ffffff;
    background: #d0021b;
}

.button_dark {
    color: #ffffff;
    background: #1c712f;
}

.button_light:disabled {
    box-shadow: none;

    color: #1c712f;
    background: #ffffff;

    cursor: auto;
}

.button_m {
    width: 144px;
    padding-top: 10px;
    padding-bottom: 10px;
}


.game-board {
    display: grid;
    grid-template-rows: 19px repeat(3, 1fr);
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
    width: 700px;
    margin: 54px auto 0;

}

.game-board__again {
    grid-area: 1 / 1 / 1 / 4;
    width: 102px;
    justify-self: start;

    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: -0.25px;

    opacity: 0.8;
    transition: opacity 0.5s;
}

.game-board__again:hover {
    opacity: 1;
}

.game-board__points {
    grid-area: 1 / 4 / 1 / 7;
    justify-self: end;
    width: 102px;

    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0;
    text-align: right;

    opacity: 0.8;
}

.game-board__counter {
    font-family: 'Krungthep', serif;

    font-weight: normal;
}

.end-image {
    margin-bottom: 9px;
}

.end-text {
    margin: 0 0 40px;

    text-align: center;
    font-size: 24px;
    line-height: 35px;
}

/* Карты и анимация вращания */

.card-holder {
    width: 100px;
    height: 139px;
    perspective: 1000px;
}

.card__checker {
    display: none;
}

.card {
    width: 100%;
    height: 100%;
    transition: var(--animation-speed);
    transform-style: preserve-3d;

    position: relative;

    cursor: pointer;
}

.card__checker:checked + .card {
    transform: rotateY(180deg);

    cursor: default;
}

.card__front,
.card__back {
    width: 100%;
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.card__front {
    z-index: 200;
    transform: rotateY(180deg);
}

.card__back {
    border: 1px solid #000;

    box-sizing: border-box;
    border-radius: 5px;
    background: repeating-linear-gradient(60deg, transparent 0px, transparent 10px, #f00 10px, #f00 12px) no-repeat,
                repeating-linear-gradient(-60deg, #f00 0px, #f00 1px, #fff 1px, #fff 3px, #f00 3px, #f00 4px, #fff 4px, #fff 6px, #f00 6px, #f00 7px, #fff 7px, #fff 15px) no-repeat;
    background-origin: content-box;

    transform: rotateY(0deg);
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;

    background: transparent;
}

.overlay-off {
    display: none;
}

/* Анимации */

.animated {
    animation-duration: var(--animation-speed);
    animation-fill-mode: both;
}

.delayed {
    animation-delay: 1s;
}

@keyframes fadeIn {
    from,
    to {
        animation-timing-function: ease-out;
    }
    from {
        opacity: 0;
    }

    to {
        opacity: 0.85;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

.fadeOut {
    animation-name: fadeIn;
    animation-direction: reverse;
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translate(-100%, 0);
    }

    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.fadeInLeft {
    animation-name: fadeInLeft;
}

.fadeOutLeft {
    animation-name: fadeInLeft;
    animation-direction: reverse;: ;
}

@keyframes bounceInDown {
    0%,
    60%,
    75%,
    90%,
    to {
        animation-timing-function: ease-out;
    }

    0% {
        opacity: 0;
        transform: translate(0, -2000px);
    }

    60% {
        opacity: 1;
        transform: translate(0, 25px);
    }

    75% {
        transform: translate(0, -10px);
    }

    90% {
        transform: translate(0, 5px);
    }

    to {
        transform: translate(0, 0);
    }
}

.bounceInDown {
    animation-name: bounceInDown;
}

@keyframes flyOutUp {
    20%,
    40%,
    50%,
    to {
        animation-timing-function: ease-in;
    }

    40% {
        transform: translate(0, 25px);
    }
    60% {
        transform: translate(0, -10px);
    }
    to {
        transform: translate(0, -2000px);
    }
}

.flyOutUp {
    animation-name: flyOutUp;
}